html {
  height: 100% !important;
}

body {
  height: 100% !important; /* 1, 3 */
  display: flex;
  background: #ffffff;
  flex-direction: column;
}



#landing > div {
  min-height: 100%;
}

.borderless.menu .header {
  text-transform: capitalize;
}

.sidebar a, .sidebar .item {
  text-transform: capitalize !important;
}

table {
  border-radius: 0 !important;
}
#config {
  margin-right: -0.6em;
  padding: 1.4em 0;
}
#headerbar .small.button {
  padding: 5px;
  font-size: 1.1em;
  text-transform: uppercase;
}
#headerbar .menu.transition.visible {
  border-radius: 0;
}

#headerbar .buttons {
  border-radius: 0;
  border: none !important;
}
#headerbar .button {
  margin:  0.2em 0.5em;
  border-radius: 0;
  padding: 0.4em;
  box-shadow: 0px 1px 4px rgba(0, 17, 0, 0.18);
}
#headerbar a, #headerbar .text, #headerbar .active.item {
  font-weight: bold;
  font-size: 0.9em;
  text-transform: capitalize;
}
#headerbar .active.item {
  background: #fff;
}
#headerbar {
  width: 80%;
  margin: 0.4em auto;
  padding: 0.8em 0;
}
#header{
  flex: none;
  min-height: 4em;
  background: #fff;
  box-shadow: 0px 5px 4px rgba(6, 6, 6, 0.3);
}

h4, h5, h6, label {
  color: rgba(0, 0, 0, 0.5) !important;
}
.accordion {
  border-radius: 0 !important;
}

#window {
  width: 80%;
  margin: 1em auto;
  margin-top: 2em;
  padding-top: 2em;
  margin-bottom: 4em;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}



#viewport {
  width: 80%;
  margin: 0 1em;
  padding: 0.3em;
  padding-bottom: 2.3em;
  background: #FAFAFA;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
#leftsidebar {
  width: 20%;
  padding: 0.3em;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.sidebar {
}

.ui.olive.dividing.header {
  color: rgba(181, 204, 24, 0.7) !important;
}
.sidebar a:last-of-type {
  border-bottom: 0;
}
#bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0;
}
#bottom > h5 {
  margin: 2px 0;
  padding: 0;
}
#bottom  a  {
  border-radius: 0;
}
#bottom div.button {
  padding-left: 1em;
}
.form h5 {
  margin-top: 0 !important;
}
.index {
  border: 0 !important;
  box-shadow: none !important;
}

input, textarea {
  border-radius: 0 !important;
}

html *:not(.icon) {
   font-family: 'PT Sans Narrow', sans-serif;
}

.ui.segment {
  border-radius: 0;
}

.ui.vertical.menu.fluid {
  border-radius: 0;
}

.ui.vertical.menu > .item:first-child, .ui.vertical.menu > .item:last-child {
  border-radius: 0;
}

#headerbar .row {
  padding: 0
}
#headerbar .column {
  padding-top: 0;
  padding-bottom: 0;
}


#heading {
  color: #21ba45;
}


#submit {
  box-shadow: none;
}

#feature {
  height: 30em;
  overlow: auto !important;
}

#navigation-partial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}

#header .row {
  padding: 0;
}

#header-partial {
  width: 80%;
  margin: 0 auto;
  border: none;
}

#contact-partial > div {
  width: 80%;
  margin: 0 auto;
  border-left: none;
  border-right: none;
}

#contact-partial {
  background: #fafafa;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

#contact-partial  a {
  font-weight: normal;
}

#contact-partial  a.active {
  color: #E6A968;
  font-weight: bold;
  border-color: #E6A968;
}

#contact-partial span:hover, #contact-partial span.active {
  background: none;
  font-weight: normal;
  border-color: rgba(34, 36, 38, 0);
  color: rgba(0, 0, 0, 0.87);
}

#contact-partial span {
  padding: 0 5px;
  margin-bottom: 10px;
  border-right: 1px solid rgba(34, 36, 38, 0.5);
}

#contact-partial span a {
  margin-bottom: -2px;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 100%;
  height: 300px;
  margin-right: 10px;
  background: #EABEA2;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


#footer-partial {
  background: #fafafa;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

#footer-partial > div {
  width: 80%;
  margin: 0 auto;
}

#login-partial {
  background: #d5d5d5 url('siaya.jpg') no-repeat;
  background-size: 100% auto;
}

#sess-partial .menu {
  min-width: 103%;
}

.ui.secondary.vertical.menu > .item {
  border-radius: 0 !important;
}

button:focus {outline:0;}

#dashboard-sidebar > button {
  width: 100%;
  text-align: left;
}


.courses {
  margin-bottom: 15px;
  font-size: 0;
  padding: 0;
  background: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.courses li {
  font-size: 14px;
  width: 48%;
  margin: 1%;
  display: flex;
  padding: 0.5em;
  background: #fff;
}

.courses div:hover {
}

.courses .mix-target {
  display: none;
}

.service-writeup {
  padding: 0.6em;
}

.service-writeup > div {
  text-align: right;
  flex: 1 0 auto;
}
.list-content {
  padding: 0.5em;
}

.ui.secondary.menu .active.item,
.ui.secondary.menu .item:hover {
  background: #E6A968;
  color: #fff;
}

.ui.vertical.tabular.menu .active.item {
  border-radius: 0 !important;
}

#dashboard-viewport {
  padding: 0;
}

#dashboard-viewport > .segment {
  margin: 0;
  padding: 0;
}
