html {
  height: 100% !important;
}

body {
  height: 100% !important; /* 1, 3 */
  display: flex;
  background: #EDEDED;
  flex-direction: column;
}

.borderless.menu .header {
  text-transform: capitalize;
}

table {
  border-radius: 0 !important;
}
#config {
  margin-left: -0.6em;
  padding: 1.2em;
}
#headerbar .small.button {
  padding: 5px;
  font-size: 1.1em;
  text-transform: uppercase;
}
#headerbar .menu.transition.visible {
  border-radius: 0;
}
#headerbar .row {
  padding: 4px;
}
#headerbar > h3:last-of-type {
  max-width: 10em;
  margin: 0.6em 1em;
}
#headerbar > h3:first-of-type {
  margin-bottom: 0;
}
#headerbar .buttons {
  border-radius: 0;
  border: none !important;
}
#headerbar .button {
  margin:  0.2em 0.5em;
  border-radius: 0;
  padding: 0.4em;
  box-shadow: 0px 1px 4px rgba(99, 159, 167, 0.18);
}
#headerbar a, #headerbar .text, #headerbar .active.item {
  font-weight: 500;
  font-size: 0.9em;
  text-transform: capitalize;
  color: rgba(99, 159, 167, 0.7);
}
#headerbar .active.item {
  background: #fff;
}
#headerbar {
  width: 90%;
  margin: 0 auto;
  padding: 0.4em;
}
#header{
  flex: none;
  min-height: 4em;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.app-header,
.app-footer {
  flex: none; /* 2 */
}
h4, h5, h6, label {
  color: rgba(0, 0, 0, 0.5) !important;
}
.accordion {
  border-radius: 0 !important;
}

#window {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

#viewport {
  width: 60%;
  margin: 0 1em;
  padding: 0.3em;
  padding-bottom: 2.3em;
  background: #FAFAFA;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 20%;
  padding: 0.3em;
  background: #FAFAFA;
  margin: 0.4em;
}

.ui.olive.dividing.header {
  color: rgba(181, 204, 24, 0.7) !important;
}
.sidebar a:last-of-type {
  border-bottom: 0;
}
#bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0;
}
#bottom > h5 {
  margin: 2px 0;
  padding: 0;
}
#bottom  a  {
  border-radius: 0;
}
#bottom div.button {
  padding-left: 1em;
}
.form h5 {
  margin-top: 0 !important;
}
.index {
  border: 0 !important;
  box-shadow: none !important;
}

input, textarea {
  border-radius: 0 !important;
}

html *:not(.icon) {
   font-family: Roboto !important;
}

.ui.segment {
  border-radius: 0;
}

.ui.vertical.menu.fluid {
  border-radius: 0;
}

.ui.vertical.menu > .item:first-child, .ui.vertical.menu > .item:last-child {
  border-radius: 0;
}
